<!DOCTYPE html>
<html>

<head>
  <!-- 引入 MathJax -->
  <script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@2/es5/tex-mml-chtml.js">
    </script>
  <script type="text/javascript">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ['\\(','\\)'] ],  // 行内公式的配置
        displayMath: [ ['$$','$$'], ['\[','\]'] ],  // 块级公式的配置
        processEscapes: true
      }
    });
  </script>

  {% include head.html %}
</head>

<body>
  {% include nav.html %}

  {% if page.toc==true %}
  <aside class="toc">
    {% include toc.html html=content %}
  </aside>
  {% endif %}

  <div id="main" role="main" class="wrapper-content">
    <div class="container">
      {{ content }}
    </div>
  </div>

  {% include analytics.html %}
</body>

{% if page.toc==true %}
<script>
  document.getElementById("main").classList.add("withtoc");
</script>
{% endif %}

<div class="wrapper-footer-mobile">
  <footer class="footer">
    {% include footer.html %}
  </footer>


</html>